:root {
  --headcolor: #805959;
  --secondcolor: #598059;
  --tertiercolor: #596f80;
  --bgcolor: #ccae8f;
  --textcolor: #ffffff;
  --boxschadow: -webkit-box-shadow: 10px 10px 6px 0px rgba(128, 89, 89, 0.75);
  -moz-box-shadow: 10px 10px 6px 0px rgba(128, 89, 89, 0.75);
  box-shadow: 10px 10px 6px 0px rgba(128, 89, 89, 0.75);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
